# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode settings
.vscode/

# IDE-specific files
.idea/

# Distribution/Packaging
*.egg
*.egg-info/
dist/
build/
*.whl

# PyInstaller
*.spec

# Jupyter Notebook
.ipynb_checkpoints/

# Test results
nosetests.xml
coverage.xml
*.cover
*.hypothesis/

# mypy
.mypy_cache/
.dmypy.json

# pytest
.cache/

# Flask
instance/
*.db

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
*.sqlite3
*.bak

# celerybeat-schedule file
celerybeat-schedule
